<h1 mat-dialog-title>Ajouter un établissement</h1>
<body>
<div mat-dialog-content [formGroup]="etablissementForm">
  <p>Nom</p>
  <input formControlName="nom" type="text" class="large-input" pInputText />
  <p>Adresse</p>
  <input formControlName="adresse" type="text" class="large-input" pInputText />
  <p>Type</p>
  <input formControlName="type" type="text" class="large-input" pInputText />
  <p>Qualité</p>
  <input formControlName="qualite" type="text" class="large-input" pInputText />
  <p>Note</p>
  <input formControlName="note" type="text" class="large-input" pInputText />
  <p>Lien Image</p>
  <input formControlName="image" type="text" class="large-input" pInputText />
</div>
</body>
<div mat-dialog-actions>
  <p-button class="add-button" (click)="onSubmit()" severity="success" label="Ajouter" icon="pi pi-plus"/>
  <p-button class="delete-button" (click)="onNoClick()" severity="danger" label="Fermer" icon="pi pi-trash"/>
</div>