<h1 mat-dialog-title>Se connecter</h1>
<body>
<div mat-dialog-content [formGroup]="loginForm">
  <p>Identifiant</p>
  <input formControlName="username" type="text" class="large-input" pInputText />
  <p>Mot de passe</p>
  <input formControlName="password" type="password" class="large-input" pInputText />
</div>
</body>
<div mat-dialog-actions>
  <p-button class="add-button" (click)="login()" severity="success" label="Se connecter"/>
  <p-button class="delete-button" (click)="onNoClick()" severity="danger" label="Annuler"/>
</div>