h1 {
    margin: 10px;
    margin-left: 10px;
    
}

.large-input {
    font-size: 1em; /* Augmente la taille de la police */
    padding: 10px; /* Augmente l'espacement interne */
    width: 100%; /* Définit la largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
    margin-bottom: 10px;
}

body {
    margin: 10px;
    margin-left: 10px;
}

.add-button {
    margin: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.delete-button {
    margin: 10px;
    margin-left: 10px;
}
