<app-message-bar></app-message-bar>
<body>
    <h2>Liste des usagers</h2>
    <div class="test">
    <p-button (click)="openDialog()" severity="success" class="add-button" label="Ajouter" icon="pi pi-plus" />
    </div>
    <p-table [value]="datas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="code">Nom<p-sortIcon field="price" /></th>
                <th pSortableColumn="code">Prenom<p-sortIcon field="price" /></th>
                <th pSortableColumn="code">Age<p-sortIcon field="price" /></th>
                <th pSortableColumn="code">Identifiant<p-sortIcon field="price" /></th>
                <th pSortableColumn="code">Actif<p-sortIcon field="price" /></th>
                <th >Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-columns="columns">
                <tr> 
                    <td>{{ data.nom }}</td>
                    <td>{{ data.prenom }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.is_active }}</td>
                    <td>
                        <div class="action">
                            <p-button (click)="editUsager(data.id)" severity="info" label="Modifier" icon="pi pi-trash" />
                            <p-button severity="danger" label="Supprimer" icon="pi pi-times" (click)="removeUsager(data.id, data.nom, data.prenom)"/>
                        </div>
                    </td>
                </tr>
        </ng-template>
    </p-table>
</body>