<nav class="mask">
    <a href="#">Burger Bordeaux</a>
    <ul class="list">
      <li><a routerLink="/about-us" routerLinkActive="active">A propos</a></li>
      <li><a routerLink="/usagers/" routerLinkActive="active">Usagers</a></li>
      <li class="dropdown-menu">
        admin
        <div class="p-menuitem-link" model="items">
          
      </div>
      </li>
      <li><a href="#">Contact</a></li>
      <li><a (click)="openDialog()">Se connecter</a></li>
    </ul>
    <div>
      <div *ngIf="usagerInfo">
        <p>{{usagerInfo.id}}</p>
        <button (click)="logout()" >Deconnexion</button>
      </div>
    </div>
    <button class="search">Search</button>
    <button class="menu">Menu</button>
</nav>
<img src="https://www.hachette.fr/sites/default/files/burger-verrecchia.jpg" alt="">

<router-outlet></router-outlet>